<html>
<head>
	<title></title>

	<style>
body { background:#ffa6bb; color:#9e0000; }
</style>

</head>
<body>
	<h1>What's the new comment </h1>

		<form action='/comment/<%=list._id%>/new' method = POST>
	 	<input type='text' name='comment' placeholder='comment'/>
	 	<input type='submit' value='Submit'/>
	 	
	</form>

</body>
</html>